<div class="champion-detail-container">
  <app-champion-header id="header" [champion]="championDetail" [version]="version"></app-champion-header>
  <app-champion-abilities id="abilities" [champion]="championDetail" [version]="version"></app-champion-abilities>
  <app-champion-lore id="lore" [champion]="championDetail" [enemies]="championEnemies" [version]="version"></app-champion-lore>
  <app-champion-statistics id="abilities" [champion]="championDetail" [version]="version"></app-champion-statistics>
  <app-champion-skins id="skins" [champion]="championDetail" [enemies]="championEnemies" [version]="version"></app-champion-skins>
</div>
